nav {
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 10px;         /*distancia lateral entre os 2*/
    padding:  5px;          /*preenchimento externo deles*/
    text-decoration: none;  /*tirar nome sublinhado*/
    color: #000;
}

nav a:hover {           /*quando o mouse estiver em cima dos 2*/
    color: #ccc
}

.active {
    background-color: #000;
    color: #fff
}